<div class="container">
  <div>
    <small class="text-muted">Трек номер</small>
    <div class="font-semibold">{{ orderDTO.tracker }}</div>
  </div>
  <div>
    <div class="flex items-center gap-2">
      <div>
        <small class="text-muted">Текущее местоположение</small>
        <div>{{ orderDTO.currentPointAddress }}</div>
      </div>
      <div>
        <p-button icon="pi pi-pencil" class="mr-2" [rounded]="true" (click)="showDialogMap()" [outlined]="true"></p-button>
      </div>
    </div>
    <div class="flex items-center gap-2">
      <div>
        <small class="text-muted">Статус</small>
        <p-tag class="flex flex-column" [value]=" getOrderStatusLabel(orderDTO.status)"
               [severity]="getOrderSeverity(orderDTO.status)"></p-tag>
      </div>
      <div>
        <p-button icon="pi pi-pencil" class="mr-2" [rounded]="true" (click)="showStatusDialog()" [outlined]="true"></p-button>
      </div>
    </div>
  </div>
</div>
<p-dialog [(visible)]="pointDialog" [style]="{ width: '100%' }" draggable="false" header="Выберите пункт"
          (onHide)="hidePointDialog()"
          [modal]="true">
  <ng-template #content>
    <div>
      <app-map-choice  (dataOutput)="handePointChange($event)"></app-map-choice>
    </div>
  </ng-template>
</p-dialog>
<p-dialog [(visible)]="statusDialog" [style]="{ width: '400px' }" draggable="false" header="Выберите статус"
          (onHide)="hideStatusDialog()"
          [modal]="true">
  <ng-template #content>
    <div>
      <app-status-choice [dataInput]="orderDTO.status"  (dataOutput)="handleStatusChange($event)"></app-status-choice>
    </div>
  </ng-template>
</p-dialog>

